:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgd-color: #ffffff;
  --secondary-bgd-color: #2f303a;
  --third-bgd-color: #f5f4fa;
}

/* --secondary-font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bgd-color);
}

/* Utilits */

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.list .active {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* WebStudio Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

/* Website navigation */

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Website cotacts */

.site-nav-contacts {
  display: flex;
  margin-left: auto;
}

.site-nav-contacts .contacts-display:not(:last-child) {
  margin-right: 50px;
}

.site-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* <!-- Hero section -- >  */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bgd-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  max-width: 696px;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 30px;
  margin: 0 auto;
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
}

/* Our strong sides section */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.flex-element {
  width: 270px;
  margin-right: 30px;
}

.flex-element:first-child {
  margin-left: 0;
}

.flex-element:last-child {
  margin-right: 0;
}

.icon-antenna::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--third-bgd-color);
  background-image: url(../images/icons/strongsides-icons/1-antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;

  margin-bottom: 30px;
}

.icon-vector::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--third-bgd-color);
  background-image: url(../images/icons/strongsides-icons/2-vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;

  margin-bottom: 30px;
}

.icon-diagram::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--third-bgd-color);
  background-image: url(../images/icons/strongsides-icons/3-diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;

  margin-bottom: 30px;
}

.icon-astronaut::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--third-bgd-color);
  background-image: url(../images/icons/strongsides-icons/4-astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;

  margin-bottom: 30px;
}

.subsection-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

/* What we do section */

.whatwedo {
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  text-align: center;
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
}

.whatwedo-list {
  margin-right: 30px;
}

.whatwedo-pictures:not(:last-child) {
  margin-right: 30px;
}

/* Our Team section */

.team {
  background-color: var(--third-bgd-color);
}

.flex-element-team {
  max-width: 270px;
  max-height: 368px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.flex-element-team:last-child {
  margin-right: 0;
}

.team-description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-professions {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--secondary-bgd-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
}

.logo-studio-footer {
  color: var(--secondary-text-color);
}

.addess-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}

.contacts-items {
  display: block;
  margin-bottom: 9px;
}

.contacts-items:last-child {
  margin-bottom: 0;
}

.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  /* margin-bottom: 9px; */
}

/* .contacts-footer:last-child {
  margin-bottom: 0;
} */

/* Portfolio CSS */

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-item {
  margin-right: 8px;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--third-bgd-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.flex-element-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.flex-element-portfolio:last-child {
  margin-right: 0;
}

.works {
  margin-right: 30px;
}

.works:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.works:nth-child(3n + 3) {
  margin-right: 0;
}

.works-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.works-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
